

div#wrapper {
	border-top: solid 4px #999999;
	border-bottom: solid 8px #999999;
	
	xbackground-color: #fff;
	margin: 0 auto;
	width: 960px;
	xbox-shadow: 0 0 10px black;
	min-height: 98vh;
	min-width: 250px;
	xmargin-right: 1em;
    
}

div#page {
   background-color: #FCFCFC;
   xmargin-top: 1em;
   padding-left: 0.5em;
   padding-right: 0.5em;
   min-height: 70vh;
}


body {
	background-position: 50% 0;
	background-image: url(../images/stucco/stucco_@2X.png);
	xbackground-color: #195f89;
	xbackground-color: #385E86;
	xbackground-repeat: no-repeat;
	xmargin-left: 3%;
	xmargin-right: 3%;
}

section#similarProducts {
	display: inline-block;
	background-color: red;
	
}

header {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	background-color:  	#222;
}

header p {
	padding-top: 1.5em;
	padding-right: 6em;
	
	color: #FFF;
}

header a {
	xcolor: #999;	
	text-decoration: none;
}

/*Article and Section CSS Rules*/
h1 {
	font-family: 'Roboto', Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
 	font-size: 3.5em;
	color: #222;
	
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

#articleHeader {
	margin-bottom: 1em;	
}

#largeImage {
 	float: left;
	margin-right: 1.5em;
 
 }

article {
	margin-top: 2em;
	min-height: 100px;
	border-bottom: 1px solid #FFF;	
	
}

article h2 {
	font-size: 1.50em;
	font-family: Arial, Verdana, Geneva, sans-serif;
	xletter-spacing: 0.1em;
	xtext-transform: uppercase;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 12px;
	color: 	#333;
	xborder-bottom: solid 1px #383839;
}

article h4  {
	color: black;
	font-size: 1.45em;
	padding-bottom: 4px;
	font-weight: bold;
	
}


article p {
	font-family: 'Open Sans', Verdana, Geneva, sans-serif;

	padding-bottom: 1em;	
	line-height: 19px;
	font-size: .95em;
	color: #222;
}

article#aboutPage {
    border-bottom: none;	
}

img.center {
	border-radius: 50%;
	
	width: 45%;
	min-width: 200px;	
	max-width: 525px;
	
	display: block;
	
  	margin-left: auto;
  	margin-right: auto;
} 

h4#price {
	color: red;	
	margin-bottom: 1em;
}

#addToButtons {
	margin-left: 19.5em;
	padding: 20px 0px;
	
	border: 1px solid #ACACAC;
	margin-bottom: 1em;	
	
}

#addButtons {
	padding-left: 1.5em;
}

.smallButtons {
	margin-bottom: 1em;	

}


.buttonLink {
	
	padding: 8px 67px;
	margin-right: 0.5em;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.90em;
    background: #E7E7E7 ;
    color: blue;
	font-weight: bold;
	border: 1px solid #ACACAC;
	text-decoration: none;
	
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;	
}

.buttonLinkSimilarProducts {
	padding: 3px 8px;
    background: #E7E7E7 ;
    color: black;
	border: 1px solid #ACACAC;
	
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}


#productDetails {
	display: block;	
	margin-bottom: 7em;
	margin-left: 19em;
}

table td {
	padding-bottom: 0.25em;	
}

table tr td:first-child {
	font-size: 0.9em;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
		
}

.similarProducts {
	display: inline-block;
	xwidth: 23%;
	xwidth: 15%;
	width: 200px;
	border: thin #CCC solid;
	text-align: center;
}
	
.similarProducts img {
	display: block;
	xwidth: 10em;
	width: 100% inherit;
	xmargin: 5px auto;
}

.similarProducts a {
	font-size: 0.9em;
}
	

#similarProductsSection {
	margin-bottom: 1em;
	margin-top: -3em;
	border-bottom: none;
	
}
h3#detailsHeader, h3#similarProductsHeader {
	font-size: 1em;
	font-weight:bold;
	font-family: Verdana, Geneva, sans-serif;
	border-bottom: 1px solid #EDEDED;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
}


section {
	float: center;	
	
}


section#section1 {
    float: left; 
	padding-right: 5em; 
	margin-bottom: 1em; 
	border-bottom: none;
	min-width: 100px;
	background-color: white;
	display: block;
	xmin-height: 150px;
	/*
	xwidth: 45%;
	padding-left: 10%;
	margin-right: 1em;
	float: left;
	*/
}

section#section2 {
	margin-left: auto; 
	border-bottom: none; 
	padding-right: 1em;
	padding-bottom: 1em;
	xmin-width: 200px;
	display: inline-block;

}



section h4  {
	color: black;
	font-size: 1.25em;
	font-weight: bold;
	
}

section p  {
	
	font-size: 1em;
	font-weight: 300;
	
}


/*Form Elements*/

fieldset {
	border: none;	
	display: inline;
}


form section {
	padding-bottom: 1.25em;
}

form section h3 {
	padding-bottom: 0.5em;
	font-size: 1.15em;	
	font-family: Verdana, Geneva, sans-serif;
	border-bottom: 1px solid #EDEDED;
}

form label {
	font-family: "Open Sans", Verdana, Geneva, sans-serif;	
	font-size: 0.9em;
	font-weight: bold;
	padding-bottom: 0em;

}

form input[type="text"], input[type="password"], input[type="tel"], input[type="date"] {
	display: block;
	margin-right: 6em;	
	width: 15em;
	margin-bottom: 1em;
}

form #email, #address {
	margin-right: 6em;;	
	width: 37em;
}


form input[type="submit"] {
	background: url(../images/button_ok.png) left no-repeat;
	background-color: #BDDBFA;
	padding: 7px 20px;
	padding-left: 30px;
	text-align:right;
}

form input[type="range"] {
	width: 20em;
		
}

form #state, #zipcode {
	xdisplay: inline-block;
	display: inline-block;
	margin-right: 2em;
	width: 6em;	
	margin-right: 5px;
	
}

#continent {
	margin-top: 1em;	
}
/*End Form Elements*/

/* Header */
/* End Header */


/* Primary Navigation */
nav#primary {
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-size: .9em;
	text-decoration: none;
	text-align: right;
	
	min-height: 25px;
	clear: both;
}


nav#primary ul li {
	text-decoration: none;
	display: inline-block;
	margin-top: 4px;
	
	margin-left: 6px;
	padding-right: 8px;
}

nav#primary ul li:last-child {
	border-right: none;	
	padding-right: 2.5em;
}

nav#primary ul li a {
	xfont-family: 'Roboto', Verdana, Tahoma, Geneva, sans-serif;
	text-decoration: none;
	color: #ccc;
	padding-right: 0.5em;
	padding-left: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

nav#primary ul li a:hover {
	color: #fff;
	background-color: #555;
	border-radius: 8px;
	text-decoration: none;
	
}
/* End Primary Navigation */



/* Secondary Navigation */
nav#secondary {
	xpadding-top: 0.3em;
	xpadding-bottom: 0.3em;
	font-family: 'Roboto', Verdana, Tahoma, Geneva, sans-serif;
	font-size: 1em;
	text-align: left;
	
	xpadding-bottom: 53px;
	text-decoration: none;
	height: 35px;
	
	xborder-top: 1px solid black;
	xborder-bottom: 1px solid black;
	
	border: 1px solid #CCC;
	clear: both;
	background-color: #FCFCFC;

}

nav#secondary ul li {
	
	xborder-right: 1px solid #333366;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
	
	margin-left: 4px;
	margin-right: 8px;
	padding-right: 4px;
	xpadding-bottom: 4px;
}

nav#secondary ul li:last-child {
	border-right: none;	
}

nav#secondary ul li a {
	font-family:  'Roboto', Tahoma, Geneva, sans-serif;
	text-decoration: none;
	
	color: #777;
	font-weight: 600;
	padding-right: 0.5em;
	padding-left: 0.5em;
	padding-top: 0.15em;
	padding-bottom: 0.25em;
	
}

nav#secondary ul li a:hover {
	background-color: #333;
	color: white;
	border-radius: 5px;
	
}
/* End Secondary Navigation */




/* Article */


/* Unordered Lists */
/*#left {
	font-family: 'Open Sans',Tahoma, Verdana, Geneva, sans-serif;
	clear: both;
	float: left;
	width: 150px;
	padding-left: 4em;
	margin-right: 000px;
}

#right {
	font-family: 'Open Sans',Tahoma, Verdana, Geneva, sans-serif;
	float: right;
	width: 230px;
	margin-right: 050px;
}*/

/* End of Unordered Lists */


/* End Article */


/* Aside */
/* End Aside */





/* Footer */
footer {
	
	border-top: 2px solid #000;
	padding-top: 1em;
	position: bottom;
	background-color:  	#222;
	clear: both;
	color: #ccc;
}

footer h1 {
	display: none;	
}

footer p {
	font-family: 'Roboto',  Tahoma, Verdana, Geneva, Arial, sans-serif;
	font-size: 0.85em;
	text-align: center;
	padding-bottom: 20px;
	
}
/* End Footer */
